.custom-logements {
    display: flex;
    background-color: #f6f6f6;
    margin: 0 5%;
    padding: 30px 30px;
    border-radius: 25px;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
}

.custom-logements .custom-title {
    margin: 0 0 10px 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

@media screen and (max-width: 1000px) {
    .custom-logements {
        height: auto;
        background-color: #fff;
        gap: 50px;
        padding: 0;
    }
}
